@{
    ViewBag.Title = "Главная страница";
    SelectList list = (SelectList)ViewData["Lst"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
<h2>@ViewData["Text"]</h2>
        <div class="container-list">
            <h4>Список</h4>
            <ol type="A">
                    @for (int i = 1; i < 5; i++)
                    {
                        <li>элемент @i списка</li>
                    }
                </ol>
        </div>
        <hr>

        <form method="post">
            <h4 style="padding-top: 10px; padding-bottom: 10px">Форма</h4>
            
            
            <select asp-items="@list"></select>
            
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="check1">
                <label class="form-check-label" for="exampleCheck1">Вариант 1</label>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck2" name="check2">
                <label class="form-check-label" for="exampleCheck2">Вариант 2</label>
            </div>

            <div style="padding-bottom: 5px; padding-top: 5px">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Делал(-а) менее 2-х дней</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Делал(-а) более 2-х дней</label>
                </div>
            </div>
            
            <div class="pt-4">
                <div class="mb-3 row">
                    <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Электронная почта</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="exampleInputEmail1" name="email">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="exampleInputPassword1" class="col-sm-2 col-form-label">Пароль</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="exampleInputPassword1" name="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
</body>
</html>